<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kehao.lems.dao.EquBreakMapper">
  <resultMap id="BaseResultMap" type="org.kehao.lems.entity.EquBreak">
    <id column="bid" jdbcType="CHAR" property="bid" />
    <result column="eid" jdbcType="CHAR" property="eid" />
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="breason" jdbcType="VARCHAR" property="breason" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    bid, eid, id, breason, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from s_equ_break
    where bid = #{bid,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from s_equ_break
    where bid = #{bid,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="org.kehao.lems.entity.EquBreak">
    insert into s_equ_break (bid, eid, id, breason, 
      status)
    values (#{bid,jdbcType=CHAR}, #{eid,jdbcType=CHAR}, #{id,jdbcType=INTEGER}, #{breason,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="org.kehao.lems.entity.EquBreak">
    insert into s_equ_break
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bid != null">
        bid,
      </if>
      <if test="eid != null">
        eid,
      </if>
      <if test="id != null">
        id,
      </if>
      <if test="breason != null">
        breason,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bid != null">
        #{bid,jdbcType=CHAR},
      </if>
      <if test="eid != null">
        #{eid,jdbcType=CHAR},
      </if>
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="breason != null">
        #{breason,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.kehao.lems.entity.EquBreak">
    update s_equ_break
    <set>
      <if test="eid != null">
        eid = #{eid,jdbcType=CHAR},
      </if>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="breason != null">
        breason = #{breason,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where bid = #{bid,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.kehao.lems.entity.EquBreak">
    update s_equ_break
    set eid = #{eid,jdbcType=CHAR},
      id = #{id,jdbcType=INTEGER},
      breason = #{breason,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER}
    where bid = #{bid,jdbcType=CHAR}
  </update>
</mapper>