<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kehao.lems.dao.EquipmentMapper">
    <resultMap id="BaseResultMap" type="org.kehao.lems.entity.Equipment">
        <id column="eid" jdbcType="CHAR" property="eid"/>
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="ename" jdbcType="VARCHAR" property="ename"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="addtime" jdbcType="TIMESTAMP" property="addtime"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="pcid" jdbcType="CHAR" property="pcid"/>
    </resultMap>

    <sql id="Base_Column_List">
        eid, id, ename, type, addtime, status, remark, pcid
    </sql>

    <!-- 自定义映射关系 -->
    <resultMap id="Equ_Purc_Jion_Map" type="org.kehao.lems.entity.Equipment">
        <id column="eid" jdbcType="CHAR" property="eid"/>
        <result column="id" jdbcType="VARCHAR" property="id"/>
        <result column="ename" jdbcType="VARCHAR" property="ename"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="addtime" jdbcType="TIMESTAMP" property="addtime"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="pcid" jdbcType="CHAR" property="pcid"/>
        <!-- 关联 属性 equPurchase装载 -->
        <association property="equPurchase" javaType="org.kehao.lems.entity.EquPurchase"><!-- 对象关联 -->
            <id column="pcid" jdbcType="CHAR" property="pcid"/>
            <result column="uid" jdbcType="CHAR" property="uid"/>
            <result column="pctime" jdbcType="TIMESTAMP" property="pctime"/>
            <result column="price" jdbcType="DOUBLE" property="price"/>
        </association>
    </resultMap>

    <sql id="Equ_Purc_Jion_Column_List">
        eid, id, ename, type, addtime, status, remark, equipment.pcid, uid, pctime, price
    </sql>


    <!-- 自定义映射关系 -->
    <resultMap id="Equ_Lab_Jion_Map" type="org.kehao.lems.entity.Equipment">
        <id column="eid" jdbcType="CHAR" property="eid"/>
        <result column="e_id" jdbcType="VARCHAR" property="id"/>
        <result column="ename" jdbcType="VARCHAR" property="ename"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="addtime" jdbcType="TIMESTAMP" property="addtime"/>
        <result column="e_status" jdbcType="INTEGER" property="status"/>
        <result column="e_remark" jdbcType="VARCHAR" property="remark"/>
        <result column="pcid" jdbcType="CHAR" property="pcid"/>
        <!-- 关联 属性 equLab -->
        <association property="equLab" javaType="org.kehao.lems.entity.EquLab"><!-- 对象关联 -->
            <result column="lid" jdbcType="CHAR" property="lid"/>
            <result column="eid" jdbcType="CHAR" property="eid"/>
            <association property="laboratory" javaType="org.kehao.lems.entity.Laboratory"><!-- 对象关联 -->
                <id column="lid" jdbcType="CHAR" property="lid"/>
                <result column="l_id" jdbcType="VARCHAR" property="id"/>
                <result column="lname" jdbcType="VARCHAR" property="lname"/>
                <result column="lsize" jdbcType="INTEGER" property="lsize"/>
                <result column="addtime" jdbcType="TIMESTAMP" property="addtime"/>
                <result column="l_status" jdbcType="INTEGER" property="status"/>
                <result column="type" jdbcType="VARCHAR" property="type"/>
                <result column="remark" jdbcType="VARCHAR" property="remark"/>
                <result column="uid" jdbcType="CHAR" property="uid"/>
                <result column="equcount" jdbcType="INTEGER" property="equcount"/>
            </association>
        </association>
    </resultMap>

    <sql id="Equ_Lab_Jion_Column_List">
        equ.eid, equ.id e_id, equ.ename, equ.type, equ.addtime, equ.status e_status, equ.remark e_remark, lab.lname, lab.id l_id
    </sql>


    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from s_equipment
        where eid = #{eid,jdbcType=CHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        DELETE FROM s_equipment
        WHERE eid = #{eid,jdbcType=CHAR}
    </delete>
    <insert id="insert" parameterType="org.kehao.lems.entity.Equipment">
        INSERT INTO s_equipment (eid, id, ename,
                                 type, addtime, status,
                                 remark, pcid)
        VALUES (#{eid,jdbcType=CHAR}, #{id,jdbcType=VARCHAR}, #{ename,jdbcType=VARCHAR},
                #{type,jdbcType=VARCHAR}, #{addtime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER},
                #{remark,jdbcType=VARCHAR}, #{pcid,jdbcType=CHAR})
    </insert>
    <insert id="insertSelective" parameterType="org.kehao.lems.entity.Equipment">
        insert into s_equipment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="eid != null">
                eid,
            </if>
            <if test="id != null">
                id,
            </if>
            <if test="ename != null">
                ename,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="addtime != null">
                addtime,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="pcid != null">
                pcid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="eid != null">
                #{eid,jdbcType=CHAR},
            </if>
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="ename != null">
                #{ename,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="addtime != null">
                #{addtime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="pcid != null">
                #{pcid,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.kehao.lems.entity.Equipment">
        update s_equipment
        <set>
            <if test="id != null">
                id = #{id,jdbcType=VARCHAR},
            </if>
            <if test="ename != null">
                ename = #{ename,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="addtime != null">
                addtime = #{addtime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="pcid != null">
                pcid = #{pcid,jdbcType=CHAR},
            </if>
        </set>
        where eid = #{eid,jdbcType=CHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.kehao.lems.entity.Equipment">
        UPDATE s_equipment
        SET id      = #{id,jdbcType=VARCHAR},
            ename   = #{ename,jdbcType=VARCHAR},
            type    = #{type,jdbcType=VARCHAR},
            addtime = #{addtime,jdbcType=TIMESTAMP},
            status  = #{status,jdbcType=INTEGER},
            remark  = #{remark,jdbcType=VARCHAR},
            pcid    = #{pcid,jdbcType=CHAR}
        WHERE eid = #{eid,jdbcType=CHAR}
    </update>
    <!--关联查询-->
    <select id="selectEquJionPurcByEid" parameterType="java.lang.String" resultMap="Equ_Purc_Jion_Map">
        select
        <include refid="Equ_Purc_Jion_Column_List"/>
        from s_equipment equipment join
        s_equ_purchase purchase on(equipment.pcid=purchase.pcid)
        where eid = #{eid,jdbcType=CHAR}
    </select>

    <select id="selectEquipmentCondition" parameterType="java.util.Map" resultMap="Equ_Lab_Jion_Map">
        select
        <include refid="Equ_Lab_Jion_Column_List"/>
        from s_equipment equ left join equ_lab elab on(equ.eid=elab.eid) left join s_laboratory lab on(elab.lid=lab.lid)
        where equ.status!='1'

        <if test="equipmentEx.id != null">
            AND equ.id LIKE concat(concat('%',#{equipmentEx.id,jdbcType=VARCHAR}),'%')
        </if>
        <if test="equipmentEx.ename != null">
            AND equ.ename LIKE concat(concat('%',#{equipmentEx.ename,jdbcType=VARCHAR}),'%')
        </if>
        <if test="equipmentEx.type != null">
            AND equ.type LIKE concat(concat('%',#{equipmentEx.type,jdbcType=VARCHAR}),'%')
        </if>

        <if test="sort!=null">
            ORDER BY ${sort} ${order}
        </if>
        LIMIT #{startRec,jdbcType=INTEGER},#{recCount,jdbcType=INTEGER}
    </select>
    <select id="selectEquipmentConditionCount" parameterType="java.util.Map" resultType="java.lang.Long">
        select
        count(*)
        from s_equipment equ left join equ_lab elab on(equ.eid=elab.eid) left join s_laboratory lab on(elab.lid=lab.lid)
        where equ.status!='1'

        <if test="equipmentEx.id != null">
            AND equ.id LIKE concat(concat('%',#{equipmentEx.id,jdbcType=VARCHAR}),'%')
        </if>
        <if test="equipmentEx.ename != null">
            AND equ.ename LIKE concat(concat('%',#{equipmentEx.ename,jdbcType=VARCHAR}),'%')
        </if>
        <if test="equipmentEx.type != null">
            AND equ.type LIKE concat(concat('%',#{equipmentEx.type,jdbcType=VARCHAR}),'%')
        </if>
    </select>
    <update id="updateEquStatusByEidBatch" parameterType="java.util.Map">
        UPDATE s_equipment SET status = #{status,jdbcType=INTEGER}
        WHERE eid IN
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
</mapper>