<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kehao.lems.dao.EquPurchaseMapper">
  <resultMap id="BaseResultMap" type="org.kehao.lems.entity.EquPurchase">
    <result column="epid" jdbcType="CHAR" property="epid" />
    <result column="pcid" jdbcType="CHAR" property="pcid" />
    <result column="uid" jdbcType="CHAR" property="uid" />
    <result column="pctime" jdbcType="TIMESTAMP" property="pctime" />
  </resultMap>
  <sql id="Base_Column_List">
    epid, pcid, uid, pctime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from s_equ_purchase
    where pcid = #{pcid,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from s_equ_purchase
    where pcid = #{pcid,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="org.kehao.lems.entity.EquPurchase">
    insert into s_equ_purchase (epid, pcid, uid, pctime
      )
    values (#{epid,jdbcType=CHAR}, #{pcid,jdbcType=CHAR}, #{uid,jdbcType=CHAR}, #{pctime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.kehao.lems.entity.EquPurchase">
    insert into s_equ_purchase
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="epid != null">
        epid,
      </if>
      <if test="pcid != null">
        pcid,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="pctime != null">
        pctime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="epid != null">
        #{epid,jdbcType=CHAR},
      </if>
      <if test="pcid != null">
        #{pcid,jdbcType=CHAR},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=CHAR},
      </if>
      <if test="pctime != null">
        #{pctime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.kehao.lems.entity.EquPurchase">
    update s_equ_purchase
    <set>
      <if test="epid != null">
        epid = #{epid,jdbcType=CHAR},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=CHAR},
      </if>
      <if test="pctime != null">
        pctime = #{pctime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where pcid = #{pcid,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.kehao.lems.entity.EquPurchase">
    update s_equ_purchase
    set epid = #{epid,jdbcType=CHAR},
      uid = #{uid,jdbcType=CHAR},
      pctime = #{pctime,jdbcType=TIMESTAMP}
    where pcid = #{pcid,jdbcType=CHAR}
  </update>
</mapper>