<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kehao.lems.dao.EquScheduleMapper">
    <resultMap id="BaseResultMap" type="org.kehao.lems.entity.EquSchedule">
        <id column="seid" jdbcType="CHAR" property="seid"/>
        <result column="eid" jdbcType="CHAR" property="eid"/>
        <result column="starttime" jdbcType="TIMESTAMP" property="starttime"/>
        <result column="endtime" jdbcType="TIMESTAMP" property="endtime"/>
        <result column="sname" jdbcType="VARCHAR" property="sname"/>
        <result column="stel" jdbcType="VARCHAR" property="stel"/>
    </resultMap>
    <sql id="Base_Column_List">
        seid, eid, starttime, endtime, sname, stel
    </sql>

    <resultMap id="EquS_Equ_Lab_ResultMap" type="org.kehao.lems.entity.EquSchedule">
        <id column="seid" jdbcType="CHAR" property="seid"/>
        <result column="eid" jdbcType="CHAR" property="eid"/>
        <result column="starttime" jdbcType="TIMESTAMP" property="starttime"/>
        <result column="endtime" jdbcType="TIMESTAMP" property="endtime"/>
        <result column="sname" jdbcType="VARCHAR" property="sname"/>
        <result column="stel" jdbcType="VARCHAR" property="stel"/>
        <association property="equipment" javaType="org.kehao.lems.entity.Equipment">
            <id column="eid" jdbcType="CHAR" property="eid"/>
            <result column="e_id" jdbcType="VARCHAR" property="id"/>
            <result column="ename" jdbcType="VARCHAR" property="ename"/>
            <result column="type" jdbcType="VARCHAR" property="type"/>
            <result column="e_status" jdbcType="INTEGER" property="status"/>
            <result column="e_remark" jdbcType="VARCHAR" property="remark"/>
            <!-- 关联 属性 equLab -->
            <association property="equLab" javaType="org.kehao.lems.entity.EquLab"><!-- 对象关联 -->
                <result column="lid" jdbcType="CHAR" property="lid"/>
                <result column="eid" jdbcType="CHAR" property="eid"/>
                <association property="laboratory" javaType="org.kehao.lems.entity.Laboratory"><!-- 对象关联 -->
                    <result column="lname" jdbcType="VARCHAR" property="lname"/>
                </association>
            </association>
        </association>
    </resultMap>

    <sql id="EquS_Equ_Lab_Column_List">
        equs.seid, equs.eid, equs.starttime, equs.endtime, equs.sname, equs.stel,
        equ.id e_id,equ.ename,equ.type,equ.status e_status,equ.remark e_remark,
        lab.lname
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from s_equ_schedule
        where seid = #{seid,jdbcType=CHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        DELETE FROM s_equ_schedule
        WHERE seid = #{seid,jdbcType=CHAR}
    </delete>
    <insert id="insert" parameterType="org.kehao.lems.entity.EquSchedule">
        INSERT INTO s_equ_schedule (seid, eid, starttime,
                                    endtime, sname, stel)
        VALUES (#{seid,jdbcType=CHAR}, #{eid,jdbcType=CHAR}, #{starttime,jdbcType=TIMESTAMP},
                #{endtime,jdbcType=TIMESTAMP}, #{sname,jdbcType=VARCHAR}, #{stel,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="org.kehao.lems.entity.EquSchedule">
        insert into s_equ_schedule
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="seid != null">
                seid,
            </if>
            <if test="eid != null">
                eid,
            </if>
            <if test="starttime != null">
                starttime,
            </if>
            <if test="endtime != null">
                endtime,
            </if>
            <if test="sname != null">
                sname,
            </if>
            <if test="stel != null">
                stel,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="seid != null">
                #{seid,jdbcType=CHAR},
            </if>
            <if test="eid != null">
                #{eid,jdbcType=CHAR},
            </if>
            <if test="starttime != null">
                #{starttime,jdbcType=TIMESTAMP},
            </if>
            <if test="endtime != null">
                #{endtime,jdbcType=TIMESTAMP},
            </if>
            <if test="sname != null">
                #{sname,jdbcType=VARCHAR},
            </if>
            <if test="stel != null">
                #{stel,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.kehao.lems.entity.EquSchedule">
        update s_equ_schedule
        <set>
            <if test="eid != null">
                eid = #{eid,jdbcType=CHAR},
            </if>
            <if test="starttime != null">
                starttime = #{starttime,jdbcType=TIMESTAMP},
            </if>
            <if test="endtime != null">
                endtime = #{endtime,jdbcType=TIMESTAMP},
            </if>
            <if test="sname != null">
                sname = #{sname,jdbcType=VARCHAR},
            </if>
            <if test="stel != null">
                stel = #{sname,jdbcType=VARCHAR},
            </if>
        </set>
        where seid = #{seid,jdbcType=CHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.kehao.lems.entity.EquSchedule">
        UPDATE s_equ_schedule
        SET eid       = #{eid,jdbcType=CHAR},
            starttime = #{starttime,jdbcType=TIMESTAMP},
            endtime   = #{endtime,jdbcType=TIMESTAMP},
            sname     = #{sname,jdbcType=VARCHAR},
            stel      = #{stel,jdbcType=VARCHAR}
        WHERE seid = #{seid,jdbcType=CHAR}
    </update>


    <select id="selectEquSchInfoByCondition" parameterType="java.util.Map" resultMap="EquS_Equ_Lab_ResultMap">
        select
        <include refid="EquS_Equ_Lab_Column_List"/>
        from s_equ_schedule equs join s_equipment equ on (equs.eid=equ.eid) join equ_lab elab on(equ.eid=elab.eid) join s_laboratory lab on (elab.lid=lab.lid)
        <where>
            <if test="equScheduleEx.sname != null">
                AND equs.sname LIKE concat(concat('%',#{equScheduleEx.sname,jdbcType=VARCHAR}),'%')
            </if>
            <if test="equScheduleEx.ename != null">
                AND equ.ename LIKE concat(concat('%',#{equScheduleEx.ename,jdbcType=VARCHAR}),'%')
            </if>
            <if test="equScheduleEx.id != null">
                AND equ.id LIKE concat(concat('%',#{equScheduleEx.id,jdbcType=VARCHAR}),'%')
            </if>
            <if test="equScheduleEx.type!=null">
                AND equ.type LIKE concat(concat('%',#{equScheduleEx.type,jdbcType=VARCHAR}),'%')
            </if>
        </where>
        <if test="sort!=null">
            ORDER BY ${sort} ${order}
        </if>
        LIMIT #{startRec,jdbcType=INTEGER},#{recCount,jdbcType=INTEGER}
    </select>
    <select id="selectEquSchInfoByConditionCount" parameterType="java.util.Map" resultType="java.lang.Long">
        select
        count(*)
        from s_equ_schedule equs join s_equipment equ on (equs.eid=equ.eid) join equ_lab elab on(equ.eid=elab.eid) join s_laboratory lab on (elab.lid=lab.lid)
        <where>
            <if test="equScheduleEx.sname != null">
                AND equs.sname LIKE concat(concat('%',#{equScheduleEx.sname,jdbcType=VARCHAR}),'%')
            </if>
            <if test="equScheduleEx.ename != null">
                AND equ.ename LIKE concat(concat('%',#{equScheduleEx.ename,jdbcType=VARCHAR}),'%')
            </if>
            <if test="equScheduleEx.id != null">
                AND equ.id LIKE concat(concat('%',#{equScheduleEx.id,jdbcType=VARCHAR}),'%')
            </if>
            <if test="equScheduleEx.type!=null">
                AND equ.type LIKE concat(concat('%',#{equScheduleEx.type,jdbcType=VARCHAR}),'%')
            </if>
        </where>
    </select>
</mapper>