<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kehao.lems.dao.LaboratoryMapper">
  <resultMap id="BaseResultMap" type="org.kehao.lems.entity.Laboratory">
    <id column="lid" jdbcType="CHAR" property="lid" />
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="lname" jdbcType="VARCHAR" property="lname" />
    <result column="lsize" jdbcType="INTEGER" property="lsize" />
    <result column="addtime" jdbcType="TIMESTAMP" property="addtime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="uid" jdbcType="CHAR" property="uid" />
    <result column="equcount" jdbcType="INTEGER" property="equcount" />
  </resultMap>
  <sql id="Base_Column_List">
    lid, id, lname, lsize, addtime, status, type, remark, uid, equcount
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from s_laboratory
    where lid = #{lid,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from s_laboratory
    where lid = #{lid,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="org.kehao.lems.entity.Laboratory">
    insert into s_laboratory (lid, id, lname, 
      lsize, addtime, status, 
      type, remark, uid, equcount
      )
    values (#{lid,jdbcType=CHAR}, #{id,jdbcType=VARCHAR}, #{lname,jdbcType=VARCHAR}, 
      #{lsize,jdbcType=INTEGER}, #{addtime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, 
      #{type,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{uid,jdbcType=CHAR}, #{equcount,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.kehao.lems.entity.Laboratory">
    insert into s_laboratory
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="lid != null">
        lid,
      </if>
      <if test="id != null">
        id,
      </if>
      <if test="lname != null">
        lname,
      </if>
      <if test="lsize != null">
        lsize,
      </if>
      <if test="addtime != null">
        addtime,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="equcount != null">
        equcount,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="lid != null">
        #{lid,jdbcType=CHAR},
      </if>
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="lname != null">
        #{lname,jdbcType=VARCHAR},
      </if>
      <if test="lsize != null">
        #{lsize,jdbcType=INTEGER},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=CHAR},
      </if>
      <if test="equcount != null">
        #{equcount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.kehao.lems.entity.Laboratory">
    update s_laboratory
    <set>
      <if test="id != null">
        id = #{id,jdbcType=VARCHAR},
      </if>
      <if test="lname != null">
        lname = #{lname,jdbcType=VARCHAR},
      </if>
      <if test="lsize != null">
        lsize = #{lsize,jdbcType=INTEGER},
      </if>
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=CHAR},
      </if>
      <if test="equcount != null">
        equcount = #{equcount,jdbcType=INTEGER},
      </if>
    </set>
    where lid = #{lid,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.kehao.lems.entity.Laboratory">
    update s_laboratory
    set id = #{id,jdbcType=VARCHAR},
      lname = #{lname,jdbcType=VARCHAR},
      lsize = #{lsize,jdbcType=INTEGER},
      addtime = #{addtime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=CHAR},
      equcount = #{equcount,jdbcType=INTEGER}
    where lid = #{lid,jdbcType=CHAR}
  </update>
</mapper>