<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kehao.lems.dao.ResourcesMapper">
  <resultMap id="BaseResultMap" type="org.kehao.lems.entity.Resources">
    <id column="rsid" jdbcType="CHAR" property="rsid" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="rsname" jdbcType="VARCHAR" property="rsname" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    rsid, pid, rsname, url, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from s_resources
    where rsid = #{rsid,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from s_resources
    where rsid = #{rsid,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="org.kehao.lems.entity.Resources">
    insert into s_resources (rsid, pid, rsname, 
      url, remark)
    values (#{rsid,jdbcType=CHAR}, #{pid,jdbcType=INTEGER}, #{rsname,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.kehao.lems.entity.Resources">
    insert into s_resources
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rsid != null">
        rsid,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="rsname != null">
        rsname,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rsid != null">
        #{rsid,jdbcType=CHAR},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="rsname != null">
        #{rsname,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.kehao.lems.entity.Resources">
    update s_resources
    <set>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="rsname != null">
        rsname = #{rsname,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where rsid = #{rsid,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.kehao.lems.entity.Resources">
    update s_resources
    set pid = #{pid,jdbcType=INTEGER},
      rsname = #{rsname,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where rsid = #{rsid,jdbcType=CHAR}
  </update>
</mapper>