<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kehao.lems.dao.RoleMapper">
    <resultMap id="BaseResultMap" type="org.kehao.lems.entity.Role">
        <id column="rid" jdbcType="INTEGER" property="rid"/>
        <result column="rname" jdbcType="VARCHAR" property="rname"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>
    <sql id="Base_Column_List">
    rid, rname, remark
  </sql>

    <!-- 自定义映射关系 -->
    <resultMap id="Role_URole_Jion_Map" type="org.kehao.lems.entity.Role">
        <id column="rid" jdbcType="INTEGER" property="rid"/>
        <result column="rname" jdbcType="VARCHAR" property="rname"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <!-- 关联 属性 equPurchase装载 -->
        <collection property="userRole" javaType="java.util.List" ofType="org.kehao.lems.entity.UserRole"><!-- 对象关联 -->
            <result column="uid" jdbcType="CHAR" property="uid"/>
            <result column="rid" jdbcType="INTEGER" property="rid"/>
        </collection>
    </resultMap>

    <sql id="Jion_Role_URole_Column_List">
        role.rid, rname, remark,uid
    </sql>


    <!-- 自定义映射关系 -->
    <resultMap id="Role_User_Jion_Map" type="org.kehao.lems.entity.Role">
        <id column="rid" jdbcType="INTEGER" property="rid"/>
        <result column="rname" jdbcType="VARCHAR" property="rname"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <!-- 关联 属性 userRole -->
        <collection property="userRole" javaType="java.util.List" ofType="org.kehao.lems.entity.UserRole"><!-- 对象关联 -->
            <result column="uid" jdbcType="CHAR" property="uid"/>
            <result column="rid" jdbcType="INTEGER" property="rid"/>
            <!-- 关联 属性 user -->
            <association property="user" javaType="org.kehao.lems.entity.User"><!-- 对象关联 -->
                <id column="uid" jdbcType="CHAR" property="uid"/>
                <result column="uname" jdbcType="VARCHAR" property="uname"/>
                <result column="ture_name" jdbcType="VARCHAR" property="tureName"/>
                <result column="passwd" jdbcType="CHAR" property="passwd"/>
                <result column="salt" jdbcType="CHAR" property="salt"/>
                <result column="office_address" jdbcType="VARCHAR" property="officeAddress"/>
                <result column="office_phone" jdbcType="VARCHAR" property="officePhone"/>
                <result column="email" jdbcType="VARCHAR" property="email"/>
                <result column="masterid" jdbcType="CHAR" property="masterid"/>
                <result column="createtime" jdbcType="TIMESTAMP" property="createtime"/>
                <result column="token" jdbcType="CHAR" property="token"/>
            </association>
        </collection>
    </resultMap>

    <sql id="Jion_Role_User_Column_List">
        rname, remark,user.uid,uname, ture_name, office_address, office_phone, email, masterid, createtime
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from s_role
        where rid = #{rid,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from s_role
        where rid = #{rid,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="org.kehao.lems.entity.Role">
        insert into s_role (rid, rname, remark )
        values (#{rid,jdbcType=INTEGER}, #{rname,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR} )
    </insert>
    <insert id="insertSelective" parameterType="org.kehao.lems.entity.Role">
        insert into s_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="rid != null">
                rid,
            </if>
            <if test="rname != null">
                rname,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="rid != null">
                #{rid,jdbcType=INTEGER},
            </if>
            <if test="rname != null">
                #{rname,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.kehao.lems.entity.Role">
        update s_role
        <set>
            <if test="rname != null">
                rname = #{rname,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where rid = #{rid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.kehao.lems.entity.Role">
        update s_role
        set rname = #{rname,jdbcType=VARCHAR},
          remark = #{remark,jdbcType=VARCHAR}
        where rid = #{rid,jdbcType=INTEGER}
    </update>

    <!-- 自定义方法 -->
    <select id="selectURloeByRid" parameterType="java.lang.String" resultMap="Role_URole_Jion_Map">
        select
        <include refid="Jion_Role_URole_Column_List"/>
        from s_role role join
        user_role urole on(role.rid=urole.rid)
        where role.rid = #{rid,jdbcType=CHAR}
    </select>

    <select id="selectUserByRid" parameterType="java.lang.String" resultMap="Role_User_Jion_Map">
        select
        <include refid="Jion_Role_User_Column_List"/>
        from s_role role join user_role urole on(urole.rid=role.rid) join s_user user on (user.uid=urole.uid)
        where role.rid = #{rid,jdbcType=CHAR}
    </select>

    <select id="selectByRname" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from s_role
        where rname = #{rname,jdbcType=VARCHAR}
    </select>
    <select id="selectAllRole" resultType="org.kehao.lems.entity.Role">
        select
        <include refid="Base_Column_List"/>
        from s_role
    </select>
</mapper>