<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kehao.lems.dao.UserRoleMapper">
  <resultMap id="BaseResultMap" type="org.kehao.lems.entity.UserRole">
    <result column="uid" jdbcType="CHAR" property="uid" />
    <result column="rid" jdbcType="INTEGER" property="rid" />
  </resultMap>
  <insert id="insert" parameterType="org.kehao.lems.entity.UserRole">
    insert into user_role (uid, rid)
    values (#{uid,jdbcType=CHAR}, #{rid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="org.kehao.lems.entity.UserRole">
    insert into user_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="rid != null">
        rid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=CHAR},
      </if>
      <if test="rid != null">
        #{rid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>