<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kehao.lems.dao.UserMapper">
  <resultMap id="BaseResultMap" type="org.kehao.lems.entity.User">
    <id column="uid" jdbcType="CHAR" property="uid" />
    <result column="uname" jdbcType="VARCHAR" property="uname" />
    <result column="ture_name" jdbcType="VARCHAR" property="tureName" />
    <result column="passwd" jdbcType="CHAR" property="passwd" />
    <result column="salt" jdbcType="CHAR" property="salt" />
    <result column="office_address" jdbcType="VARCHAR" property="officeAddress" />
    <result column="office_phone" jdbcType="VARCHAR" property="officePhone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="masterid" jdbcType="CHAR" property="masterid" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="token" jdbcType="CHAR" property="token" />
  </resultMap>
  <sql id="Base_Column_List">
    uid, uname, ture_name, passwd, salt, office_address, office_phone, email, 
    masterid, createtime,token
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from s_user
    where uid = #{uid,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from s_user
    where uid = #{uid,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="org.kehao.lems.entity.User">
    insert into s_user (uid, uname, ture_name, 
      passwd, salt, 
      office_address, office_phone, email, 
      masterid, createtime,token)
    values (#{uid,jdbcType=CHAR}, #{uname,jdbcType=VARCHAR}, #{tureName,jdbcType=VARCHAR}, 
      #{passwd,jdbcType=CHAR}, #{salt,jdbcType=CHAR}, 
      #{officeAddress,jdbcType=VARCHAR}, #{officePhone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{masterid,jdbcType=CHAR}, #{createtime,jdbcType=TIMESTAMP},#{token,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.kehao.lems.entity.User">
    insert into s_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="uname != null">
        uname,
      </if>
      <if test="tureName != null">
        ture_name,
      </if>
      <if test="passwd != null">
        passwd,
      </if>
      <if test="salt != null">
        salt,
      </if>
      <if test="officeAddress != null">
        office_address,
      </if>
      <if test="officePhone != null">
        office_phone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="masterid != null">
        masterid,
      </if>
      <if test="createtime != null">
        createtime,
      </if>
      <if test="token != null">
        token,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=CHAR},
      </if>
      <if test="uname != null">
        #{uname,jdbcType=VARCHAR},
      </if>
      <if test="tureName != null">
        #{tureName,jdbcType=VARCHAR},
      </if>
      <if test="passwd != null">
        #{passwd,jdbcType=CHAR},
      </if>
      <if test="salt != null">
        #{salt,jdbcType=CHAR},
      </if>
      <if test="officeAddress != null">
        #{officeAddress,jdbcType=VARCHAR},
      </if>
      <if test="officePhone != null">
        #{officePhone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="masterid != null">
        #{masterid,jdbcType=CHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="token != null">
        #{token,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.kehao.lems.entity.User">
    update s_user
    <set>
      <if test="uname != null">
        uname = #{uname,jdbcType=VARCHAR},
      </if>
      <if test="tureName != null">
        ture_name = #{tureName,jdbcType=VARCHAR},
      </if>
      <if test="passwd != null">
        passwd = #{passwd,jdbcType=CHAR},
      </if>
      <if test="salt != null">
        salt = #{salt,jdbcType=CHAR},
      </if>
      <if test="officeAddress != null">
        office_address = #{officeAddress,jdbcType=VARCHAR},
      </if>
      <if test="officePhone != null">
        office_phone = #{officePhone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="masterid != null">
        masterid = #{masterid,jdbcType=CHAR},
      </if>
      <if test="createtime != null">
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="token != null">
        token = #{token,jdbcType=CHAR},
      </if>
    </set>
    where uid = #{uid,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.kehao.lems.entity.User">
    update s_user
    set uname = #{uname,jdbcType=VARCHAR},
      ture_name = #{tureName,jdbcType=VARCHAR},
      passwd = #{passwd,jdbcType=CHAR},
      salt = #{salt,jdbcType=CHAR},
      office_address = #{officeAddress,jdbcType=VARCHAR},
      office_phone = #{officePhone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      masterid = #{masterid,jdbcType=CHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      token = #{token,jdbcType=CHAR},
    where uid = #{uid,jdbcType=CHAR}
  </update>
  <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />
      from s_user
      where uname = #{uname,jdbcType=CHAR}
  </select>
  <update id="updateTokenByUid" parameterType="map" >
      update s_user set token = #{token,jdbcType=CHAR} where uid = #{uid,jdbcType=CHAR}
  </update>
</mapper>